:root {
  --main-color: #212c42;
  --sec-main-color: #a3ea2a;
  --alt-color: #151c2b;
  --font-color: rgba(255, 255, 255, 0.5);
  --font-color-hover: rgba(255, 255, 255, 0.75);
  --main-transition: 0.5s;
}


.container {
  margin-left: auto;
  margin-right: auto;
}


/* Extra small */
@media (min-width: 0px) {
  .container {
    max-width: 100%;
  }
}


/* small */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}


/*  Medium */
@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

/* Large */
@media (min-width: 991px) {
  .container {
    max-width: 970px;
  }
}

/* X-Large */
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

/* Start Course  */
.course {
  padding: 70px 0;
}

.course .container {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.faq-section {
  display: block !important;
  width: 100% !important;
}

@media (max-width: 991px) {
  .faq-section .section-text {
    margin-left: 0 !important;
  }

  .faq-section .image {
    display: none !important;
  }
}

.faq-item {
  margin-bottom: 30px !important;
}

.faq-section .section-text .faq-header {
  border-radius: 5px 5px 0 0 !important;
  color: white !important;
  background-color: #212c42 !important;
  font-size: 18px !important;
  overflow: hidden !important;
  cursor: pointer !important;
  line-height: 20px !important;
  padding: 10px 25px !important;
  font-weight: lighter !important;
  position: relative !important;
  width: 100% !important;
  margin-top: 20px !important;
}

@media (max-width: 991px) {
  .faq-section .section-text .faq-header {
    font-size: 16px !important;
  }
}

.faq-section .section-text .faq-header span {
  color: var(--sec-main-color) !important;
  margin-right: 40px !important;
  position: relative !important;
}

.faq-section .section-text .faq-header span::after {
  content: "" !important;
  width: 10px !important;
  height: 10px !important;
  background-color: transparent !important;
  border: 1px solid #777 !important;
  border-radius: 50% !important;
  position: absolute !important;
  right: -45% !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}

.faq-section .section-text .faq-body {
  font-size: 18px !important;
  padding: 15px 25px !important;
  line-height: 1.9 !important;
  border-left: 4px solid var(--sec-main-color) !important;
  box-shadow: 1px 2px rgb(0, 0, 0, 0.1) !important;
  border-radius: 0 0 5px 5px !important;
  background-color: white !important;
  color: rgb(21, 28, 43) !important;
}

@media (max-width: 991px) {
  .faq-section .section-text .faq-body {
    font-size: 14px !important;
  }
}

.faq-section .section-text .faq-body img {
  width: 25% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  display: inherit !important;
  margin-bottom: 30px !important;
}

.faq-section .section-text .faq-body ul li {
  list-style: "- " !important;
  margin-bottom: 10px !important;
}

.faq-section .section-text .faq-body ol li {
  list-style: decimal !important;
  margin-bottom: 10px !important;
  font-size: 18px !important;
}

.faq-section .section-text .faq-body ul li a {
  color: var(--sec-main-color) !important;
  text-decoration: underline !important;
}

.faq-section .section-text .faq-body ul li span {
  color: blue !important;
}

.faq-section .section-text .faq-body li h2 {
  color: var(--sec-main-color) !important;
}

.faq-section .section-text .faq-body ul pre {
  padding: 25px 20px !important;
  margin: 15px 0 !important;
  border-radius: 0 !important;
  border: none !important;
  background-color: #272822 !important;
  text-align: left !important;
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
}

.faq-section .section-text .faq-body ul pre code {
  display: flex !important;
  align-items: start !important;
  flex-direction: column !important;
}

.faq-section .section-text .faq-body ul pre span {
  color: green !important;
  display: inline !important;
  white-space: normal !important;
}

.faq-section .section-text .faq-body form {
  margin-top: 30px !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  flex-direction: row !important;
}

.faq-section .section-text .faq-body form input {
  flex: 3 1 0% !important;
  padding: 7px 12px !important;
  width: 100% !important;
  height: auto !important;
  font-size: 16px !important;
  color: rgb(28, 37, 56) !important;
  border-radius: 5px !important;
  background-color: white !important;
  outline: none !important;
  border: 0.1rem solid rgb(212, 216, 223) !important;
  margin-right: 20px !important;
}

.faq-section .section-text .faq-body form button {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex: 1 1 0% !important;
  cursor: pointer !important;
  gap: 6px !important;
  height: 36px !important;
  min-width: 300px !important;
  border-radius: 5px !important;
  max-width: 100% !important;
  font-size: 16px !important;
  padding: 7px 16px !important;
  text-decoration: none !important;
  pointer-events: initial !important;
  border-width: 1px !important;
  border-style: solid !important;
  background-color: transparent !important;
  color: rgb(21, 28, 43) !important;
  border-color: rgb(163, 234, 42) !important;
  transition: 0.2s ease-in-out !important;
}

.faq-section .section-text .faq-body form button:hover:not(:disabled) {
  background-color: rgb(163, 234, 42) !important;
}

.course .row-practice {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  justify-content: end;
  margin-top: 30px;
  margin-bottom: 50px;
  gap: 20px;
}

.course .row-practice .acc-link-sp {
  background-color: var(--sec-main-color);
  color: white;
  text-align: center;
  border-radius: 7px;
  width: 150px;
  padding: 10px 20px;
}

/* End Course  */