:root {
  --main-color: #212c42;
  --sec-main-color: #a3ea2a;
  --alt-color: #151c2b;
  --font-color: rgba(255, 255, 255, 0.5);
  --font-color-hover: rgba(255, 255, 255, 0.75);
  --main-transition: 0.5s;
}

.container-XSS {
  margin-left: auto;
  margin-right: auto;
}

.highlight {
  font-weight: 400;
  color: #ff5733;
}
/* Extra small */
@media (min-width: 0px) {
  .container-XSS {
    max-width: 100%;
  }
}

/* small */
@media (min-width: 576px) {
  .container-XSS {
    max-width: 540px;
  }
}

/*  Medium */
@media (min-width: 768px) {
  .container-XSS {
    max-width: 750px;
  }
}

/* Large */
@media (min-width: 992px) {
  .container-XSS {
    max-width: 970px;
  }
}

/* X-Large */
@media (min-width: 1200px) {
  .container-XSS {
    max-width: 1170px;
  }
}

/* Start Landing */
.landing-XSS {
  height: auto;
  background: linear-gradient(
    105deg,
    var(--sec-main-color) 0%,
    var(--sec-main-color) 60%,
    rgb(28, 37, 56) 60%
  );
}

@media (max-width: 991px) {
  .landing-XSS {
    background: var(--sec-main-color);
  }
}

.landing-XSS .container-XSS {
  padding: 24px 12px;
}

.landing-XSS .course-info-XSS {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}

.landing-XSS .course-info-XSS .course-text-XSS {
  max-width: 60%;
}

@media (max-width: 991px) {
  .landing-XSS .course-info-XSS .course-text-XSS {
    max-width: 100%;
  }
}

.landing-XSS .course-info-XSS .course-text-XSS h1 {
  font-size: 40px;
}

.landing-XSS .course-info-XSS .course-text-XSS p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: lighter;
}

.landing-XSS .course-info-XSS .course-text-XSS p.brief-XSS {
  background-color: var(--alt-color);
  padding: 10px;
  width: max-content;
  font-size: 12px;
  border-radius: 8px;
}

.landing-XSS .course-info-XSS .course-text-XSS p.brief-XSS i {
  margin-right: 10px;
}

.landing-XSS .course-info-XSS .course-icon-XSS {
  display: flex;
  flex-basis: 30%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 991px) {
  .landing-XSS .course-info-XSS .course-icon-XSS {
    display: none;
  }
}

.landing-XSS .course-info-XSS .course-icon-XSS .border-XSS {
  transform: rotateZ(-45deg);
  width: 230px;
  height: 230px;
  border-radius: 50%;
  border: 5px solid;
  border-right-color: rgb(62, 71, 90);
  border-top-color: rgb(62, 71, 90);
  border-bottom-color: var(--sec-main-color);
  border-left-color: var(--sec-main-color);
  display: flex;
  align-items: center;
}

.landing-XSS .course-info-XSS .course-icon-XSS .content-XSS {
  transform: rotateZ(45deg);
  width: 230px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-XSS .course-info-XSS .course-icon-XSS i {
  border-radius: 50%;
  padding: 17px;
  font-size: 16px;
}

.landing-XSS .course-info-XSS .course-icon-XSS p {
  padding: 20px;
  font-size: 16px;
  font-weight: 400;
  margin: 25px 0;
}

.landing-XSS .course-info-XSS .course-icon-XSS i.fa-book-open.lab-XSS {
  background-color: rgb(62, 71, 90);
}

.landing-XSS .course-info-XSS .course-icon-XSS i.fa-bullseye.lab-XSS {
  background-color: var(--sec-main-color);
}

/* End Landing */

/* Start Course  */
.course-XSS {
  padding: 70px 0;
}

.course-XSS .container-XSS {
  display: flex;
  flex-direction: column;
}
.course-XSS .container-XSS > h2 {
  border: 2px solid var(--sec-main-color);
  width: max-content;
  align-self: center;
  padding: 20px 10px;
}

.course-XSS .section-p-XSS {
  color: #777;
  font-weight: 400;
  margin-top: 15px;
  text-align: center;
  font-size: 16px;
}

.course-XSS .row-XSS {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  margin-top: 30px;
  gap: 20px;
}
@media (max-width: 991px) {
  .course-XSS .row-XSS {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .course-XSS .row-XSS {
    grid-template-columns: 1fr;
  }
}
.course-XSS .row-XSS .course-card-XSS {
  position: relative;
  width: 100%;
  height: 350px;
  background-color: white;
  border-radius: 5px;
  padding: 0;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 0 30px;
  transition: var(--main-transition);
}

.course-XSS .row-XSS .course-card-XSS:hover {
  transform: scale(1.05);

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 991px) {
  .course-XSS .row-XSS .course-card-XSS {
    width: 100%;
    margin-bottom: 30px;
  }
}

.course-XSS .row-XSS .course-card-XSS img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

.course-XSS .row-XSS .course-card-XSS .course-text-XSS {
  padding: 20px;
  position: absolute;
  background-color: white;
  left: 0;
  transition: var(--main-transition);
  margin-bottom: 30px;
  transform: translateY(-10%);
}
@media (min-width: 992px) {
  .course-XSS .row-XSS .course-card-XSS .course-text-XSS {
    transform: translateY(-15%);
  }
}
@media (max-width: 991px) {
  .course-XSS .row-XSS .course-card-XSS .course-text-XSS {
    transform: translateY(-10%);
  }
}
@media (max-width: 767px) {
  .course-XSS .row-XSS .course-card-XSS .course-text-XSS {
    transform: translateY(-60%);
  }
}

.course-XSS .row-XSS .course-card-XSS:hover .course-text-XSS {
  transform: translateY(-60%);
}

.course-XSS .row-XSS .course-card-XSS h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.course-XSS .row-XSS .course-card-XSS p {
  font-size: 16px;
  font-weight: lighter;
  color: #777;
  margin-bottom: 20px;
}

.course-XSS .row-XSS .course-card-XSS ul li {
  list-style-type: disc;
  margin-left: 20px;
  font-size: 16px;
  color: #555;
  font-weight: 400;
}

.course-XSS .row-XSS .course-card-XSS .easy-XSS {
  position: absolute;
  bottom: 0;
  left: 2%;
  color: green !important;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  background: white;
  padding: 5px;
  font-size: 16px;
}

.course-XSS .row-XSS .course-card-XSS .easy-XSS i {
  margin-right: 5px;
}

.course-XSS .row-XSS .course-card-XSS .easy-XSS p {
  margin-bottom: 0;
  color: green;
  font-size: 16px;
}

/* End Course  */
