.container-labd {
  margin-left: auto;
  margin-right: auto;
}

/* Extra small */
@media (min-width: 0px) {
  .container-labd {
    max-width: 100%;
  }
}

/* small */
@media (min-width: 576px) {
  .container-labd {
    max-width: 540px;
  }
}

/*  Medium */
@media (min-width: 768px) {
  .container-labd {
    max-width: 750px;
  }
}

/* Large */
@media (min-width: 992px) {
  .container-labd {
    max-width: 970px;
  }
}

/* X-Large */
@media (min-width: 1200px) {
  .container-labd {
    max-width: 1170px;
  }
}

b {
  margin: 0;
}

/* Start landing-labd */
.landing-labd {
  height: auto;
  position: relative;
  background-color: var(--alt-color);
  isolation: isolate;
  z-index: 3;
}

.landing-labd .banner {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

.landing-labd .banner::after {
  content: "";
  position: absolute;
  inset: 0px;
  z-index: 1;
  height: 100%;
  background: linear-gradient(
    to right,
    var(--alt-color) 30%,
    rgba(21, 28, 43, 0.98) 50%,
    transparent 100%
  );
}

.landing-labd .banner img {
  position: absolute;
  left: 30%;
}

.landing-labd .container-labd {
  padding: 24px 12px;
}







/* End landing-labd */
/* Start course-labd Content */
.course-labd .row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 70px;
}

.course-labd .course-labd-section {
  background-color: inherit;
  width: 100%;
  display: flex;
  align-items: center;
}

.faq-section-labd {
  margin-top: 75px;
  display: block;
  width: 100%;
}

@media (max-width: 991px) {
  .faq-section-labd .section-text-labd {
    margin-left: 0;
  }

  .faq-section-labd .image {
    display: none;
  }
}

.faq-item {
  margin-bottom: 30px;
}

.faq-section-labd .section-text-labd .faq-header-labd {
  border-radius: 5px 5px 0 0;
  color: white;
  background-color: #212c42;
  font-size: 18px;
  overflow: hidden;
  cursor: pointer;
  line-height: 20px;
  padding: 10px 25px;
  font-weight: lighter;
  position: relative;
  width: 100%;
  margin-top: 20px;
}

@media (max-width: 991px) {
  .faq-section-labd .section-text-labd .faq-header-labd {
    font-size: 16px;
  }
}

.faq-section-labd .section-text-labd .faq-header-labd span {
  color: var(--sec-main-color);
  margin-right: 40px;
  position: relative;
}

.faq-section-labd .section-text-labd .faq-header-labd span::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid #777;
  border-radius: 50%;
  position: absolute;
  right: -45%;
  top: 50%;
  transform: translateY(-50%);
}

.faq-section-labd .section-text-labd .faq-body-labd {
  font-size: 18px;
  padding: 25px;
  line-height: 1.9;
  border-left: 4px solid var(--sec-main-color);
  box-shadow: 1px 2px rgb(0, 0, 0, 0.1);
  border-radius: 0 0 5px 5px;
  background-color: white;
  color: rgb(21, 28, 43);
}

@media (max-width: 991px) {
  .faq-section-labd .section-text-labd .faq-body-labd {
    font-size: 14px;
  }
}

.faq-section-labd .section-text-labd .faq-body-labd .subject-section {
  margin-bottom: 50px;
}

.faq-section-labd .section-text-labd .faq-body-labd img {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: inherit;
  margin-bottom: 30px;
}

.faq-section-labd .section-text-labd .faq-body-labd ol li {
  list-style: decimal;
  margin-bottom: 10px;
  padding-left: 10px;
  font-size: 14px;
  font-weight: 400;
}


.faq-section-labd .section-text-labd .faq-body-labd a:not(.go-to) {
  color: var(--sec-main-color);
  text-decoration: underline;
  padding: 0;
  margin: 0;
}

.faq-section-labd .section-text-labd .faq-body-labd p {
  font-weight: 400;
  font-size: 16px;
}

.faq-section-labd .section-text-labd .faq-body-labd span:not([class]) {
  color: #eee;
  background-color: rgb(33, 44, 66);
  padding: 4px 5px;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 15px;
}

.faq-section-labd .section-text-labd .faq-body-labd h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.faq-section-labd .section-text-labd .faq-body-labd h2 {
  color: var(--sec-main-color);
  font-size: 20px;
}

.faq-section-labd .section-text-labd .faq-body-labd .table-bordered {
  border: 1px solid #ddd;
  text-align: center;
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
  background-color: transparent;
  font-size: 16px;
  border-collapse: unset;
}

.faq-section-labd .section-text-labd .faq-body-labd .table-bordered tr {
  text-align: center;
}

.faq-section-labd .section-text-labd .faq-body-labd .table-bordered td,
.faq-section-labd .section-text-labd .faq-body-labd .table-bordered th {
  border: 1px solid #ddd;
}

.faq-section-labd .section-text-labd .faq-body-labd .table-bordered td {
  padding: 10px;
  font-size: 15px;
  font-weight: 400;
}

.faq-section-labd .section-text-labd .faq-body-labd .note {
  background: #f9f9f9;
  border-left: 10px solid #ffbc49;
  margin: 15px 10px;
  color: rgb(21, 28, 43);
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  padding: 10px 20px;
}

.faq-section-labd .section-text-labd .faq-body-labd .terminal-container {
  margin-bottom: 20px;
}

.faq-section-labd .section-text-labd .faq-body-labd .terminal-content {
  position: relative;
}

.faq-section-labd .section-text-labd .faq-body-labd .terminal-top {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background: rgb(62, 69, 82);
  color: white;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
}

.faq-section-labd .section-text-labd .faq-body-labd .terminal-top::after {
  display: block;
  position: absolute;
  content: "";
  top: 14px;
  left: 10px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgb(255, 68, 68);
  box-shadow: rgb(255, 68, 68) 0px 0px 0px 2px,
    rgb(178, 224, 40) 1.5rem 0px 0px 2px, rgb(255, 156, 7) 3rem 0px 0px 2px;
}

.faq-section-labd .section-text-labd .faq-body-labd .terminal-code,
.faq-section-labd .section-text-labd .faq-body-labd .terminal-code {
  display: flex;
}

.faq-section-labd .section-text-labd .faq-body-labd pre[class*="language-"],
.faq-section-labd .section-text-labd .faq-body-labd code[class*="language-"] {
  color: rgb(186, 200, 212);
  background: rgb(40, 44, 51);
  font-weight: 600;
  font-size: 16px;
  text-align: left;
  word-spacing: normal;
  word-break: normal;
  overflow-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
  word-break: break-all;
  white-space: pre-wrap;
  margin-top: 0;
  margin-bottom: 2px;
  padding: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.faq-section-labd .section-text-labd .faq-body-labd pre[class*="language-"] {
  overflow-x: hidden;
}

.faq-section-labd .section-text-labd .faq-body-labd .token {
  color: rgb(186, 200, 212);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  white-space: pre-wrap;
}

.faq-section-labd .section-text-labd .faq-body-labd .command-c {
  margin-bottom: 5px;
}

.faq-section-labd .section-text-labd .faq-body-labd .token.punctuation {
  color: rgb(153, 153, 153);
}

.faq-section-labd .section-text-labd .faq-body-labd .token.user {
  color: rgb(186, 200, 212);
}

.faq-section-labd .section-text-labd .faq-body-labd .token.important {
  color: rgb(238, 153, 0);
}

.faq-section-labd .section-text-labd .faq-body-labd .token.function {
  color: rgb(255, 175, 0);
}

.faq-section-labd .section-text-labd .faq-body-labd .token.class-name {
  color: rgb(221, 74, 104);
}

.faq-section-labd .section-text-labd .faq-body-labd .token.string {
  color: rgb(102, 153, 0);
}

.faq-section-labd .section-text-labd .faq-body-labd .question:first-of-type {
  border-top: 2px solid #ddd;
}

.faq-section-labd .section-text-labd .faq-body-labd .question {
  padding-top: 20px;
  font-size: 16px;
  font-weight: 400;
}

.faq-section-labd .section-text-labd .faq-body-labd form {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.faq-section-labd .section-text-labd .faq-body-labd form input {
  flex: 3 1 0%;
  padding: 7px 12px;
  width: 100%;
  height: auto;
  font-size: 16px;
  color: rgb(28, 37, 56);
  border-radius: 5px;
  background-color: white;
  outline: none;
  border: 0.1rem solid rgb(212, 216, 223);
  margin-right: 20px;
}

.faq-section-labd .section-text-labd .faq-body-labd form button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 0%;
  cursor: pointer;
  gap: 6px;
  height: 36px;
  min-width: 300px;
  border-radius: 5px;
  max-width: 100%;
  font-size: 16px;
  padding: 7px 16px;
  text-decoration: none;
  pointer-events: initial;
  border-width: 1px;
  border-style: solid;
  background-color: transparent;
  color: rgb(21, 28, 43);
  border-color: rgb(163, 234, 42);
  transition: 0.2s ease-in-out;
}

.faq-section-labd
  .section-text-labd
  .faq-body-labd
  form
  button:hover:not(:disabled) {
  background-color: rgb(163, 234, 42);
}

.go-to-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.go-to {
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 5px;
  max-width: 100%;
  font-size: 16px;
  padding: 7px 16px;
  background-color: transparent;
  color: rgb(21, 28, 43);
  border: 1px solid rgb(163, 234, 42);
  transition: var(--main-transition);
}

.go-to:hover {
  background-color: rgb(163, 234, 42);
  color: white;
}

.pink-note {
  display: inline-block!important;
  color: #d63384;
  font-weight: 400;
  text-transform: capitalize;
  background: linear-gradient(
    90deg,
    rgba(214, 51, 132, 0.2) 0%,
    rgba(214, 51, 132, 0.1) 100%
  );
  padding: 0.2rem 0.4rem;
  border-radius: 8px;
  transition: background 0.3s ease;
}

.pink-note:hover {
  background: rgba(214, 51, 132, 0.3);
}

.oList {
  padding-left: 1.2rem !important;
  list-style: none !important;
}

.table.compare-table td,
.table.compare-table th {
  text-align: center !important;
  padding: 5 10px !important;
}

.dark-note {
  display: inline;
  color: #eee;
  background-color: rgb(33, 44, 66);
  padding: 4px 5px;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 15px;
}
/* End course-labd Content */
/* Start Landing */
.landing-lab1 {
  height: auto !important;
  position: relative !important;
  background-color: var(--alt-color) !important;
  isolation: isolate !important;
  z-index: 3 !important;
  padding: 0 120px;
  overflow: hidden;
}

.landing-lab1 .banner {
  position: absolute !important;
  height: 100% !important;
  width: 100% !important;
  z-index: -1 !important;
  overflow: hidden !important;
}

.landing-lab1 .banner::after {
  content: "" !important;
  position: absolute !important;
  inset: 0px !important;
  z-index: 1 !important;
  height: 100% !important;
  background: linear-gradient(
    to right,
    var(--alt-color) 30%,
    rgba(21, 28, 43, 0.98) 50%,
    transparent 100%
  ) !important;
}

.landing-lab1 .banner img {
  position: absolute !important;
  left: 10% !important;
  top: 50% !important;
  transform: translateY(-50%);
  max-width: 80%;
  height: auto;
}

.landing-lab1 .container-lab1 {
  padding: 24px 12px !important;
}





/* End Landing */
/* Start Course Content */
.course-lab1 .row {
  display: flex !important;
  justify-content: space-between !important;
  align-items: flex-start !important;
  flex-direction: column !important;
  margin-bottom: 70px !important;
}

.course-lab1 .course-section {
  background-color: inherit !important;
  width: 100% !important;
  display: flex !important;
  align-items: center !important;
}

.course-lab1 .course-section .arrow {
  background-color: inherit !important;
  float: right !important;
  display: flex !important;
  align-items: center !important;
  justify-content: flex-end !important;
}

.faq-section-lab1 {
  margin-top: 75px !important;
  display: block !important;
  width: 100% !important;
}

@media (max-width: 991px) {
  .faq-section-lab1 .section-text-lab1 {
    margin-left: 0 !important;
  }

  .faq-section-lab1 .image {
    display: none !important;
  }
}

.faq-item-lab1 {
  margin-bottom: 30px !important;
}

.faq-section-lab1 .section-text-lab1 .faq-header-lab1 {
  border-radius: 5px 5px 0 0 !important;
  color: white !important;
  background-color: #212c42 !important;
  font-size: 18px !important;
  overflow: hidden !important;
  cursor: pointer !important;
  line-height: 20px !important;
  padding: 10px 25px !important;
  font-weight: lighter !important;
  position: relative !important;
  width: 100% !important;
  margin-top: 20px !important;
}

@media (max-width: 991px) {
  .faq-section-lab1 .section-text-lab1 .faq-header-lab1 {
    font-size: 16px !important;
  }
}

.faq-section-lab1 .section-text-lab1 .faq-header-lab1 span {
  color: #a3ea2a !important;
  margin-right: 40px !important;
  position: relative !important;
}

.faq-section-lab1 .section-text-lab1 .faq-header-lab1 span::after {
  content: "" !important;
  width: 10px !important;
  height: 10px !important;
  background-color: transparent !important;
  border: 1px solid #777 !important;
  border-radius: 50% !important;
  position: absolute !important;
  right: -45% !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}

.faq-section-lab1 .section-text-lab1 .faq-body-lab1 {
  font-family: "poppins", sans-serif !important;
  font-size: 18px !important;
  padding: 15px 25px !important;
  line-height: 1.9 !important;
  border-left: 4px solid #a3ea2a !important;
  box-shadow: 1px 2px rgb(0, 0, 0, 0.1) !important;
  border-radius: 0 0 5px 5px !important;
  background-color: white !important;
  color: rgb(21, 28, 43) !important;
}

@media (max-width: 991px) {
  .faq-section-lab1 .section-text-lab1 .faq-body-lab1 {
    font-size: 14px !important;
  }
}

.faq-section-lab1 .section-text-lab1 .faq-body-lab1 img {
  width: 25% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  display: inherit !important;
  margin-bottom: 30px !important;
}
.faq-section-lab1 .section-text-lab1 .faq-body-lab1 img#img-full {
  width: 75% !important;
}

.faq-section-lab1 .section-text-lab1 .faq-body-lab1 ul li {
  list-style: "- " !important;
  margin-bottom: 10px !important;
}

.faq-section-lab1 .section-text-lab1 .faq-body-lab1 ol li {
  list-style: decimal !important;
  margin-bottom: 10px !important;
  font-size: 18px !important;
}

.faq-section-lab1 .section-text-lab1 .faq-body-lab1 ul li a {
  color: #a3ea2a !important;
  text-decoration: underline !important;
}

.faq-section-lab1 .section-text-lab1 .faq-body-lab1 ul li span {
  color: blue !important;
}

.faq-section-lab1 .section-text-lab1 .faq-body-lab1 li h2 {
  color: #a3ea2a !important;
  font-size: 18px;
}

.faq-section-lab1 .section-text-lab1 .faq-body-lab1 ul pre {
  padding: 25px 20px !important;
  margin: 15px 0 !important;
  border-radius: 0 !important;
  border: none !important;
  background-color: #272822 !important;
  text-align: left !important;
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
}

.faq-section-lab1 .section-text-lab1 .faq-body-lab1 ul pre code {
  display: flex !important;
  align-items: start !important;
  flex-direction: column !important;
}

.faq-section-lab1 .section-text-lab1 .faq-body-lab1 ul pre span {
  color: green !important;
  display: inline !important;
  white-space: normal !important;
}

.faq-section-lab1 .section-text-lab1 .faq-body-lab1 form {
  margin-top: 30px !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  flex-direction: row !important;
}

.faq-section-lab1 .section-text-lab1 .faq-body-lab1 form input {
  flex: 3 1 0% !important;
  padding: 7px 12px !important;
  width: 100% !important;
  height: auto !important;
  font-size: 16px !important;
  color: rgb(28, 37, 56) !important;
  border-radius: 5px !important;
  background-color: white !important;
  outline: none !important;
  border: 0.1rem solid rgb(212, 216, 223) !important;
  margin-right: 20px !important;
}

.faq-section-lab1 .section-text-lab1 .faq-body-lab1 form button {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex: 1 1 0% !important;
  cursor: pointer !important;
  gap: 6px !important;
  height: 36px !important;
  min-width: 300px !important;
  border-radius: 5px !important;
  max-width: 100% !important;
  font-size: 16px !important;
  padding: 7px 16px !important;
  text-decoration: none !important;
  pointer-events: initial !important;
  border-width: 1px !important;
  border-style: solid !important;
  background-color: transparent !important;
  color: rgb(21, 28, 43) !important;
  border-color: rgb(163, 234, 42) !important;
  transition: 0.2s ease-in-out !important;
}

.faq-section-lab1
  .section-text-lab1
  .faq-body-lab1
  form
  button:hover:not(:disabled) {
  /* background-color: rgb(163, 234, 42) !important; */
}

.go-to-section {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100% !important;
}

.go-to {
  margin-top: 50px !important;
  border-radius: 5px !important;
  max-width: 100% !important;
  font-size: 16px !important;
  padding: 7px 16px !important;
  background-color: transparent !important;
  /* color: rgb(21, 28, 43) !important; */
  /* border: 1px solid rgb(163, 234, 42) !important; */
  transition: var(--main-transition) !important;
}

.go-to:hover {
  /* background-color: rgb(163, 234, 42) !important; */
}

/* End Course Content */

/*Table*/
dt.wave-lab1.fadeInUp.faq-header-lab1 span {
  color: #a3ea2a !important;
}

.faq-section-lab1
  .section-text-lab1
  .faq-body-lab1
  dt.wave-lab1.fadeInUp.faq-header-lab1.m,
#border-left,
dd {
  border-left: 4px solid #a3ea2a !important;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  border: 3px solid #333;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

caption {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

thead th {
  background-color: #79b01c;
  color: white;
  padding: 10px;
  border: 2px solid #333;
  text-align: center;
}

tbody td {
  padding: 8px 10px;
  border: 2px solid #333;
  text-align: left;
}

tr {
  transition: all 0.3s ease-in-out;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #a8e08e;
}

/* Extra Styles */
.note {
  color: #333;
  background-color: #eee;
  font-size: 18px;
  margin: 20px 0;
  border-left: 5px solid #a3ea2a;
  padding: 5px;
  font-style: italic;
  line-height: 1.8;
}
.note #note-span {
  color: white !important;
  background-color: #333 !important;
  padding: 2px 5px !important;
  border-radius: 5px !important;
}