

/* Start Landing */
.landing {
  height: auto;
  background: linear-gradient(
    105deg,
    var(--main-color) 0%,
    var(--main-color) 60%,
    rgb(28, 37, 56) 60%
  );
}

@media (max-width: 991px) {
  .landing {
    background: var(--main-color);
  }
}

.landing .container {
  padding: 24px 12px;
}

.landing .course-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--primary-text);
}

.landing .course-info .course-text {
  max-width: 60%;
}

@media (max-width: 991px) {
  .landing .course-info .course-text {
    max-width: 100%;
  }
}

.landing .course-info .course-text h1 {
  font-size: 40px;
}

.landing .course-info .course-text p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: lighter;
}

.landing .course-info .course-text p.brief {
  background-color: var(--secondary-bg);
  padding: 10px;
  width: max-content;
  font-size: 12px;
  border-radius: 8px;
}

.landing .course-info .course-text p.brief i {
  margin-right: 10px;
}

.landing .course-info .course-icon {
  display: flex;
  flex-basis: 30%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 991px) {
  .landing .course-info .course-icon {
    display: none;
  }
}



.landing .course-info .course-icon .content {
  transform: rotateZ(45deg);
  width: 230px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing .course-info .course-icon i {
  border-radius: 50%;
  padding: 17px;
  font-size: 45px;
}

.landing .course-info .course-icon p {
  padding: 20px;
  font-size: 24px;
  font-weight: lighter;
  margin: 25px 0;
}

.landing .course-info .course-icon i.fa-book-open.lab ,
.landing .course-info .course-icon i.fa-bullseye.lab {
  background-color: var(--main-color);
}

/* End Landing */

/* Start Course  */
.course {
  padding: 70px 0;
  background-color: var(--primary-bg);
}

.course .container {
  display: flex;
  flex-direction: column;
}

.course .container > h2 {
  border: 2px solid var(--main-color);
  width: max-content;
  align-self: center;
  padding: 20px 10px;
}

.course .section-p {
  color: var(--white-alpha-20);
  font-weight: lighter;
  margin-top: 15px;
  text-align: center;
  font-size: 18px;
}

/* End Course  */
