@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.open-sans {
  font-family: "Open Sans", serif !important;
  font-style: normal;
}
.content__title{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--main-color);
}
.content__subtitle{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--main-color3);
    background: var(--glass-effect);
    width: fit-content;
    /* padding: .5rem 0.2rem; */
}
.content__code{
    margin-block: 1rem;
    color: var(--main-color);
    background: var(--glass-effect);
    width: fit-content;
    padding:  0.2rem;
}


