.team-section {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--primary-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}


.team-section__member {
  position: relative;
 max-width:22.5rem;
  height: 22.5rem;
  transition: var(--main-transition);
  /* margin: 4rem; */
}

.team-section__member-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}
.team-section__member-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-section__member-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  background-color: var(--secondary-bg);
  z-index: 1;
  transition: all 0.5s ease-in-out;
}
.team-section__member-content h4 {
    display: block;
  font-size: 1.6rem;
  text-align: left;
  color: var(--main-color);
   letter-spacing: 2px;
  font-style: italic;
  font-weight: 600;
  line-height: 2rem;
}
.team-section__member-content h4 span {
 color: var(--secondary-text);
  letter-spacing: 2px;
  font-size: 1.2rem;
  font-style: italic;
}

.team-section__member:hover{
  margin: 0 1.3rem;
}
.team-section__member:hover .team-section__member-img {
  transform: translate(-3.2rem, -3.2rem);
}
.team-section__member:hover .team-section__member-content {
  transform: translate(3.2rem, 3.2rem);
}

@media (max-width: 600px) {
  .team-section__member:hover .team-section__member-img {
    transform: translate(0, -3.2rem);
  }
  .team-section__member:hover .team-section__member-content {
    transform: translate(0, 3.2rem);
  }
}

.team-section__member-social {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 1rem;
}
.team-section__member-social a {
  color: var(--secondary-text);
  font-size: 1.6rem;
  margin: 0 0.5rem;
  transition: color 0.3s ease;
}
.team-section__member-social a:hover {
   color: var(--main-color);
}

.team-section__department-title {
  font-size: 2.5rem;
  color: var(--primary-text);
  font-family:cursive;
  text-align: center;
  margin: 2rem 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
}
.team-section__department-title::before,
.team-section__department-title::after{
 content: '';
  display: inline-block;
  width: 4rem;
  height: 0.2rem;
  background-color: var(--main-color);
  margin: 0 .5rem;

}