/* Start Team Section */
.team .team-card-section {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.team .team-card-section .team-card {
  padding: 15px;
  position: relative;
  text-align: center;
  overflow: hidden;
  box-shadow: 5px 5px 19px 0 rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 30px 30px;
  margin-bottom: 30px;
  background-color: var(--secondary-bg);
}

.team .team-card-section .team-card::before {
  content: "";
  position: absolute;
  top: -89%;
  z-index: 1;
  left: -85%;
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 30px 30px;
  background-color: var(--neon-red);
  transition: all var(--transition-speed);
}

.team .team-card-section .team-card:hover::before {
  top: 0;
  left: 0;
}

.team .team-card-section .team-card .icon-info {
  position: absolute;
  top: 1%;
  left: 2%;
  z-index: 2;
  transition: all var(--transition-speed);
}
.team .team-card-section .team-card:hover .icon-info {
  opacity: 0;
}

.team .team-card-section .team-img {
  position: relative;
  z-index: 2;
}

.team .team-card-section .team-img img {
  width: 80%;
  height: auto;
  margin-top: 30px;
  transition: all var(--transition-speed);
}
.team .team-card-section .team-card:hover .team-img img {
  transform: scale(1.1);
}

.team .team-card-section .social-links {
  background-color: #212c42;
  padding: 10px 0;
  position: absolute;
  top: 0%;
  right: -100%;
  border-radius: 0 0 0 20px;
  z-index: 3;
  display: flex;
  flex-direction: row;
  transition: all var(--transition-speed);
}

.team .team-card:hover .social-links {
  right: 0;
}

.team .team-card .social-links li a {
  color: white;
  padding: 10px 5px;
  font-size: 15px;
}

.team .team-card .team-info {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}

.team .team-card-section .team-info .team-name {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}

.team .team-card-section .team-info .team-position {
  font-size: 16px;
}

@media (max-width: 991px) {
  .team .team-card-section .team-card {
    max-width: 45%;
  }
}

@media (max-width: 991px) {
  .team .team-card-section .team-img .social-links {
    display: none;
  }
}

/* End Team Section */