/* Start Header */
.header-home {
  background-color: var(--secondary-bg);
  color: var(--primary-text);
  position: sticky;
  width: 100%;
  z-index: 4;
  padding: 5px 0;
}

.header-home .row-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-home .row-home .fa-bars {
  display: none;
  color: var(--primary-text);
}

@media (max-width: 991px) {
  .header-home .row-home .fa-bars {
    display: block;
  }
}

.header-home .row-home .sidebar_links .fa-xmark {
  color: var(--primary-text);
  float: right;
  padding: 10px;
  align-self: end;
}

.header-home .row-home .sidebarr {
  position: fixed;
  top: 0;
  left: -100%;
  display: none;
  height: 100vh;
  width: min-content;
  padding: 20px 20px;
  background-color: var(--secondary-bg);
  transition: var(--main-transition);
}

@media (max-width: 991px) {
  .header-home .row-home .sidebarr {
    display: block;
  }
}
.name-profile {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  background: linear-gradient(
    90deg,
    var(--main-color),
    var(--hover-main-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: capitalize;
  padding: 5px 10px;
  border-radius: 5px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.name-profile:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.header-home .row-home .sidebar_links {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.header-home .row-home .sidebar_links a {
  width: 100%;
  padding: 15px;
  transition: var(--main-transition);
}

.header-home .row-home .sidebar_links a i:not(.fa-xmark) {
  margin-right: 20px;
}

@media (max-width: 991px) {
  .header-home .row-home .sidebar_links a i:not(.fa-xmark) {
    margin-right: 7px;
  }
}

.header-home .row-home .logo_links,
.header-home .row-home .profile_links {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

@media (max-width: 991px) {
  .header-home .row-home .logo_links {
    display: none;
  }
}

.header-home .row-home .logo_links img,
.header-home .row-home .sidebar_links img {
  width: 60px;
}

.header-home .row-home a,
.header-home .row-home,
.header-home .row-home button {
  font-size: 18px;
  color: var(--font-color);
  background-color: transparent;
  border: none;
  text-align: center;
  transition: var(--main-transition);
}

.header-home .row-home a.logo {
  margin-left: 0;
}

.header-home .row-home a:hover {
  color: var(--hover-main-color);
}

.header-home .row-home .logo_links a i {
  margin: 0 auto 5px;
  display: block;
  width: auto;
}

.header-home .profile-section {
  position: relative;
}

.header-home .profile {
  border: 2px solid var(--whiteColor) !important;
  width: 56px;
  height: 56px;
  padding: 0;
  border-radius: 50%;
  margin-left: 25px;
}

.header-home .profile_links .profile-section .profile_list {
  position: absolute;
  background-color: var(--secondary-bg);
  width: 200px;
  padding: 10px;
  right: 0;
  display: none;
}

.header-home .profile_links .profile-section .profile_list ul:not(:last-child) {
  border-bottom: 1px solid #e0e0e0;
}

.header-home .profile_links .profile-section .profile_list ul li a {
  padding: 10px 0;
  color: #777;
  width: 100%;
  display: block;
  text-align: start;
  font-size: 14px;
}

.header-home .profile_links .profile-section .profile_list ul li a i {
  margin-right: 7px;
}

.header-home .profile:hover {
  border: 2px solid var(--hover-main-color) !important;
}

.header-home .profile img {
  background-color: var(--secondary-bg);
  width: 100%;
  border-radius: 100%;
}

/* End Header */
