:root {
  --main-color: #212c42;
  --sec-main-color: #a3ea2a;
  --alt-color: #151c2b;
  --font-color: rgba(255, 255, 255, 0.5);
  --font-color-hover: rgba(255, 255, 255, 0.75);
  --main-transition: 0.5s;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-weight: 600;
}

body {
  font-family: "poppins", "sans-serif";
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  margin: 0 10px;
  padding: 15px;
}
b {
  display: inline-block;
  margin: 0.4rem 0 0;
}
i {
  color: inherit;
  font-weight: normal;
}
.container {
  margin-left: auto;
  margin-right: auto;
}

/* Extra small */
@media (min-width: 0px) {
  .container {
    max-width: 100%;
  }
}

/* small */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/*  Medium */
@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

/* Large */
@media (min-width: 991px) {
  .container {
    max-width: 970px;
  }
}

/* X-Large */
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.container-ac-vuln {
  margin-left: auto;
  margin-right: auto;
}

/* Extra small */
@media (min-width: 0px) {
  .container-ac-vuln {
    max-width: 100%;
  }
}

/* small */
@media (min-width: 576px) {
  .container-ac-vuln {
    max-width: 540px;
  }
}

/*  Medium */
@media (min-width: 768px) {
  .container-ac-vuln {
    max-width: 750px;
  }
}

/* Large */
@media (min-width: 991px) {
  .container-ac-vuln {
    max-width: 970px;
  }
}

/* X-Large */
@media (min-width: 1200px) {
  .container-ac-vuln {
    max-width: 1170px;
  }
}
/* Start Landing */
.landing-ac-vuln {
  height: auto;
  background: linear-gradient(
    105deg,
    var(--sec-main-color) 0%,
    var(--sec-main-color) 60%,
    rgb(28, 37, 56) 60%
  );
}

@media (max-width: 991px) {
  .landing-ac-vuln {
    background: var(--sec-main-color);
  }
}

.landing-ac-vuln .container-ac-vuln {
  padding: 24px 12px;
}

.landing-ac-vuln .course-info-ac-vuln {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}

.landing-ac-vuln .course-info-ac-vuln .course-text-ac-vuln {
  max-width: 60%;
}

@media (max-width: 991px) {
  .landing-ac-vuln .course-info-ac-vuln .course-text-ac-vuln {
    max-width: 100%;
  }
}

.landing-ac-vuln .course-info-ac-vuln .course-text-ac-vuln h1 {
  font-size: 40px;
}

.landing-ac-vuln .course-info-ac-vuln .course-text-ac-vuln p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: lighter;
}

.landing-ac-vuln .course-info-ac-vuln .course-text-ac-vuln p.brief-ac-vuln {
  background-color: var(--alt-color);
  padding: 10px;
  width: max-content;
  font-size: 12px;
  border-radius: 8px;
}

.landing-ac-vuln .course-info-ac-vuln .course-text-ac-vuln p.brief-ac-vuln i {
  margin-right: 10px;
}

.landing-ac-vuln .course-info-ac-vuln .course-icon-ac-vuln {
  display: flex;
  flex-basis: 30%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 991px) {
  .landing-ac-vuln .course-info-ac-vuln .course-icon-ac-vuln {
    display: none;
  }
}

.landing-ac-vuln .course-info-ac-vuln .course-icon-ac-vuln .border-ac-vuln {
  transform: rotateZ(-45deg);
  width: 230px;
  height: 230px;
  border-radius: 50%;
  border: 5px solid;
  border-right-color: rgb(62, 71, 90);
  border-top-color: rgb(62, 71, 90);
  border-bottom-color: var(--sec-main-color);
  border-left-color: var(--sec-main-color);
  display: flex;
  align-items: center;
}

.landing-ac-vuln .course-info-ac-vuln .course-icon-ac-vuln .content-ac-vuln {
  transform: rotateZ(45deg);
  width: 230px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-ac-vuln .course-info-ac-vuln .course-icon-ac-vuln i {
  border-radius: 50%;
  padding: 17px;
  font-size: 45px;
}

.landing-ac-vuln .course-info-ac-vuln .course-icon-ac-vuln p {
  padding: 20px;
  font-size: 24px;
  font-weight: lighter;
  margin: 25px 0;
}

.landing-ac-vuln
  .course-info-ac-vuln
  .course-icon-ac-vuln
  i.fa-book-open.lab-ac-vuln {
  background-color: rgb(62, 71, 90);
}

.landing-ac-vuln
  .course-info-ac-vuln
  .course-icon-ac-vuln
  i.fa-bullseye.lab-ac-vuln {
  background-color: var(--sec-main-color);
}

/* End Landing */

/* Start Course  */
.course-ac-vuln {
  padding: 70px 0;
}

.course-ac-vuln .container-ac-vuln {
  display: flex;
  flex-direction: column;
}
.course-ac-vuln .container-ac-vuln > h2 {
  border: 2px solid var(--sec-main-color);
  width: max-content;
  align-self: center;
  padding: 20px 10px;
}

.course-ac-vuln .section-p-ac-vuln {
  color: #777;
  font-weight: lighter;
  margin-top: 15px;
  text-align: center;
  font-size: 18px;
}

.course-ac-vuln .row-ac-vuln {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  margin-top: 30px;
  gap: 20px;
}
@media (max-width: 991px) {
  .course-ac-vuln .row-ac-vuln {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .course-ac-vuln .row-ac-vuln {
    grid-template-columns: 1fr;
  }
}
.course-ac-vuln .row-ac-vuln .course-card-ac-vuln {
  position: relative;
  width: 100%;
  height: 350px;
  background-color: white;
  border-radius: 5px;
  padding: 0;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 0 30px;
  transition: var(--main-transition);
}

.course-ac-vuln .row-ac-vuln .course-card-ac-vuln:hover {
  transform: scale(1.05);

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 991px) {
  .course-ac-vuln .row-ac-vuln .course-card-ac-vuln {
    width: 100%;
    margin-bottom: 30px;
  }
}

.course-ac-vuln .row-ac-vuln .course-card-ac-vuln img {
  width: 100%;
  scale: 0.8;
  object-fit: cover;
  margin-bottom: 10px;
}

.course-ac-vuln .row-ac-vuln .course-card-ac-vuln .course-text-ac-vuln {
  padding: 20px;
  position: absolute;
  background-color: white;
  left: 0;
  transition: var(--main-transition);
  margin-bottom: 30px;
  transform: translateY(-10%);
}
@media (min-width: 992px) {
  .course-ac-vuln .row-ac-vuln .course-card-ac-vuln .course-text-ac-vuln {
    transform: translateY(-15%);
  }
}
@media (max-width: 991px) {
  .course-ac-vuln .row-ac-vuln .course-card-ac-vuln .course-text-ac-vuln {
    transform: translateY(-10%);
  }
}
@media (max-width: 767px) {
  .course-ac-vuln .row-ac-vuln .course-card-ac-vuln .course-text-ac-vuln {
    transform: translateY(-60%);
  }
}

.course-ac-vuln .row-ac-vuln .course-card-ac-vuln:hover .course-text-ac-vuln {
  transform: translateY(-60%);
}

.course-ac-vuln .row-ac-vuln .course-card-ac-vuln h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.course-ac-vuln .row-ac-vuln .course-card-ac-vuln p {
  font-size: 16px;
  font-weight: lighter;
  color: #777;
  margin-bottom: 20px;
}

.course-ac-vuln .row-ac-vuln .course-card-ac-vuln ul li {
  list-style-type: disc;
  margin-left: 20px;
  font-size: 14px;
  color: #555;
  font-weight: lighter;
}

.course-ac-vuln .row-ac-vuln .course-card-ac-vuln .easy-ac-vuln {
  position: absolute;
  bottom: 0;
  left: 2%;
  color: green !important;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  background: white;
  padding: 5px;
  font-size: 16px;
}

.course-ac-vuln .row-ac-vuln .course-card-ac-vuln .easy-ac-vuln i {
  margin-right: 5px;
}

.course-ac-vuln .row-ac-vuln .course-card-ac-vuln .easy-ac-vuln p {
  margin-bottom: 0;
  color: green;
  font-size: 16px;
}

/* End Course  */
