.container-bash-lab {
  margin-left: auto;
  margin-right: auto;
}


/* Extra small */
@media (min-width: 0px) {
  .container-bash-lab {
      max-width: 100%;
  }
}


/* small */
@media (min-width: 576px) {
  .container-bash-lab {
      max-width: 540px;
  }
}


/*  Medium */
@media (min-width: 768px) {
  .container-bash-lab {
      max-width: 750px;
  }
}

/* Large */
@media (min-width: 992px) {
  .container-bash-lab {
      max-width: 970px;
  }
}

/* X-Large */
@media (min-width: 1200px) {
  .container-bash-lab {
      max-width: 1170px;
  }
}




/* Start Landing */
.landing-bash-lab {
  height: auto;
  background: linear-gradient(
    105deg,
    var(--sec-main-color) 0%,
    var(--sec-main-color) 60%,
    rgb(28, 37, 56) 60%
  );
}

@media (max-width: 991px) {
  .landing-bash-lab {
    background: var(--sec-main-color);
  }
}

.landing-bash-lab .container-bash-lab {
  padding: 24px 12px;
}

.landing-bash-lab .course-info-bash-lab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}

.landing-bash-lab .course-info-bash-lab .course-text-bash-lab {
  max-width: 60%;
}

@media (max-width: 991px) {
  .landing-bash-lab .course-info-bash-lab .course-text-bash-lab {
    max-width: 100%;
  }
}

.landing-bash-lab
  .course-info-bash-lab
  .course-text-bash-lab
  h1 {
  font-size: 40px;
}

.landing-bash-lab .course-info-bash-lab .course-text-bash-lab p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: lighter;
}

.landing-bash-lab
  .course-info-bash-lab
  .course-text-bash-lab
  p.brief-bash-lab {
  background-color: var(--alt-color);
  padding: 10px;
  width: max-content;
  font-size: 12px;
  border-radius: 8px;
}

.landing-bash-lab
  .course-info-bash-lab
  .course-text-bash-lab
  p.brief-bash-lab
  i {
  margin-right: 10px;
}

.landing-bash-lab .course-info-bash-lab .course-icon-bash-lab {
  display: flex;
  flex-basis: 30%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 991px) {
  .landing-bash-lab .course-info-bash-lab .course-icon-bash-lab {
    display: none;
  }
}

.landing-bash-lab
  .course-info-bash-lab
  .course-icon-bash-lab
  .border-bash-lab {
  transform: rotateZ(-45deg);
  width: 230px;
  height: 230px;
  border-radius: 50%;
  border: 5px solid;
  border-right-color: rgb(62, 71, 90);
  border-top-color: rgb(62, 71, 90);
  border-bottom-color: var(--sec-main-color);
  border-left-color: var(--sec-main-color);
  display: flex;
  align-items: center;
}

.landing-bash-lab
  .course-info-bash-lab
  .course-icon-bash-lab
  .content-bash-lab {
  transform: rotateZ(45deg);
  width: 230px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-bash-lab .course-info-bash-lab .course-icon-bash-lab i {
  border-radius: 50%;
  padding: 17px;
  font-size: 45px;
}

.landing-bash-lab .course-info-bash-lab .course-icon-bash-lab p {
  padding: 20px;
  font-size: 24px;
  font-weight: lighter;
  margin: 25px 0;
}

.landing-bash-lab
  .course-info-bash-lab
  .course-icon-bash-lab
  i.fa-book-open.lab-bash-lab {
  background-color: rgb(62, 71, 90);
}

.landing-bash-lab
  .course-info-bash-lab
  .course-icon-bash-lab
  i.fa-bullseye.lab-bash-lab {
  background-color: var(--sec-main-color);
}

/* End Landing */

/* Start Course  */
.course-bash-lab {
  padding: 70px 0;
}

.course-bash-lab .container-bash-lab {
  display: flex;
  flex-direction: column;
}
.course-bash-lab .container-bash-lab > h2 {
  border: 2px solid var(--sec-main-color);
  width: max-content;
  align-self: center;
  padding: 20px 10px;
}

.course-bash-lab .section-p-bash-lab {
  color: #777;
  font-weight: lighter;
  margin-top: 15px;
  text-align: center;
  font-size: 18px;
}

.course-bash-lab .row-bash-lab {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  margin-top: 30px;
  gap: 20px;
}
@media (max-width: 991px) {
  .course-bash-lab .row-bash-lab {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .course-bash-lab .row-bash-lab {
    grid-template-columns: 1fr;
  }
}
.course-bash-lab .row-bash-lab .course-card-bash-lab {
  position: relative;
  width: 100%;
  height: 350px;
  background-color: white;
  border-radius: 5px;
  padding: 0;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 0 30px;
  transition: var(--main-transition);
}

.course-bash-lab .row-bash-lab .course-card-bash-lab:hover {
  transform: scale(1.05);

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 991px) {
  .course-bash-lab .row-bash-lab .course-card-bash-lab {
    width: 100%;
    margin-bottom: 30px;
  }
}

.course-bash-lab .row-bash-lab .course-card-bash-lab img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

.course-bash-lab
  .row-bash-lab
  .course-card-bash-lab
  .course-text-bash-lab {
  padding: 20px;
  position: absolute;
  background-color: white;
  left: 0;
  transition: var(--main-transition);
  margin-bottom: 30px;
  transform: translateY(-10%);
}
@media (min-width: 992px) {
  .course-bash-lab
    .row-bash-lab
    .course-card-bash-lab
    .course-text-bash-lab {
    transform: translateY(-15%);
  }
}
@media (max-width: 991px) {
  .course-bash-lab
    .row-bash-lab
    .course-card-bash-lab
    .course-text-bash-lab {
    transform: translateY(-10%);
  }
}
@media (max-width: 767px) {
  .course-bash-lab
    .row-bash-lab
    .course-card-bash-lab
    .course-text-bash-lab {
    transform: translateY(-60%);
  }
}

.course-bash-lab
  .row-bash-lab
  .course-card-bash-lab:hover
  .course-text-bash-lab {
  transform: translateY(-60%);
}

.course-bash-lab .row-bash-lab .course-card-bash-lab h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.course-bash-lab .row-bash-lab .course-card-bash-lab p {
  font-size: 16px;
  font-weight: lighter;
  color: #777;
  margin-bottom: 20px;
}

.course-bash-lab .row-bash-lab .course-card-bash-lab ul li {
  list-style-type: disc;
  margin-left: 20px;
  font-size: 14px;
  color: #555;
  font-weight: lighter;
}

.course-bash-lab
  .row-bash-lab
  .course-card-bash-lab
  .easy-bash-lab {
  position: absolute;
  bottom: 0;
  left: 2%;
  color: green !important;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  background: white;
  padding: 5px;
  font-size: 16px;
}

.course-bash-lab
  .row-bash-lab
  .course-card-bash-lab
  .easy-bash-lab
  i {
  margin-right: 5px;
}

.course-bash-lab
  .row-bash-lab
  .course-card-bash-lab
  .easy-bash-lab
  p {
  margin-bottom: 0;
  color: green;
  font-size: 16px;
}

/* End Course  */
