:root {
  --main-color: #212c42;
  --sec-main-color: #a3ea2a;
  --alt-color: #151c2b;
  --font-color: rgba(255, 255, 255, 0.5);
  --font-color-hover: rgba(255, 255, 255, 0.75);
  --main-transition: 0.5s;
}


.container-In_Store {
  margin-left: auto;
  margin-right: auto;
  margin-bottom:61px;
}


/* Extra small */
@media (min-width: 0px) {
  .container-In_Store {
    max-width: 100%;
  }
}


/* small */
@media (min-width: 576px) {
  .container-In_Store {
    max-width: 540px;
  }
}


/*  Medium */
@media (min-width: 768px) {
  .container-In_Store {
    max-width: 750px;
  }
}

/* Large */
@media (min-width: 991px) {
  .container-In_Store {
    max-width: 970px;
  }
}

/* X-Large */
@media (min-width: 1200px) {
  .container-In_Store {
    max-width: 1170px;
  }
}

/* Start Course  */
.course-In_Store {
  padding: 70px 0;
}

.course-In_Store .container-In_Store {
  display: flex;
  flex-direction: column;
}

.course-In_Store .row-practice {
  display: grid;
  grid-template-columns: .3fr .3fr .3fr;
  grid-template-rows: auto auto;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
  gap: 20px;
}

@media (max-width: 992px) {
  .course-In_Store .row-practice {
    grid-template-columns: .5fr .5fr;
  }
}

.course-In_Store .row-practice .card-In_Store {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.course-In_Store .row-practice .card-In_Store .functions {
  position: absolute;
  top: 0;
  left: -100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  gap: 15px;
  padding: 0 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: .75s;
  color: white;
  background-color: var(--main-color);
}

.course-In_Store .row-practice .card-In_Store:hover .functions {
  left: 0;
}
.course-In_Store .row-practice .card-In_Store .functions i{
  cursor: pointer;
}
.course-In_Store .row-practice .card-In_Store img {
  width: 50%;
  border-radius: 10px;
}


.course-In_Store .row-practice .card-In_Store .card-text-In_Store {
  padding: 20px 10px;
}

.course-In_Store .row-practice .card-In_Store .card-text-In_Store p.price {
  font-size: 16px;
  font-weight: lighter;
  margin-top: 30px;
  background-color: var(--main-color);
  color: white;
  padding: 5px 10px;
  border-radius: 25px;
  position: relative;
}

.course-In_Store .row-practice .card-In_Store .card-text-In_Store p.price::after {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.15);
  z-index: 1;
  transition: var(--main-transition);
}

.course-In_Store .row-practice .card-In_Store p.price:hover::after {
  top: 0;
}

/* End Course  */