:root {
  --main-color: #212c42;
  --sec-main-color: #a3ea2a;
  --alt-color: #151c2b;
  --font-color: rgba(255, 255, 255, 0.5);
  --font-color-hover: rgba(255, 255, 255, 0.75);
  --main-transition: 0.5s;
}


.container-Our_Store {
  margin-left: auto;
  margin-right: auto;
}


/* Extra small */
@media (min-width: 0px) {
  .container-Our_Store {
    max-width: 100%;
  }
}


/* small */
@media (min-width: 576px) {
  .container-Our_Store {
    max-width: 540px;
  }
}


/*  Medium */
@media (min-width: 768px) {
  .container-Our_Store {
    max-width: 750px;
  }
}

/* Large */
@media (min-width: 991px) {
  .container-Our_Store {
    max-width: 970px;
  }
}

/* X-Large */
@media (min-width: 1200px) {
  .container-Our_Store {
    max-width: 1170px;
  }
}

/* Start Course  */
.course-Our_Store {
  padding: 70px 0;
}

.course-Our_Store .container-Our_Store {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.course-Our_Store .row-practice {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
  gap: 20px;
}
.course-Our_Store .row-practice .store-link {
  background-color: var(--sec-main-color);
  color: white;
  text-align: center;
  border-radius: 7px;
  width: 100px;
  padding: 10px 20px;
}

/* End Course  */