.container {
  margin-left: auto;
  margin-right: auto;
}


/* Extra small */
@media (min-width: 0px) {
  .container {
    max-width: 100%;
  }
}


/* small */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}


/*  Medium */
@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

/* Large */
@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}

/* X-Large */
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.obfuscation_lab_body {
  background-color: #DBE2EF;
  padding-top: 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: max-content;
  background-color: #112D4E;
  color: #EAEAEA;
}

.card_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.card_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card_title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}
.card_field {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card_field label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.card_field .input {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.card_field .input i {
  position: absolute;
  border-radius: 50%;
  background-color: #252A34;
  padding: 10px;
  color: #EAEAEA;
}

.card_field .input input {
  width: 100%;
  padding: 10px;
  border-radius: 50px;
  border: 1px solid #EAEAEA;
  font-size: 16px;
}
.card_field .input input:focus {
  outline: none;
  border: 1px solid #225693;
}
.card_field button ,
.card_field a {
  width: 100%;
  height: 50px;
  border-radius: 50px;
  background-color: #3F72AF;
  text-align: center;
  border: none;
  color: #EAEAEA;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}
.card_field button::after, 
.card_field a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background-color: rgb(255, 255, 255,.1);
  top: 100%;
  left: 0;
  transition: var(--main-transition);
}
.card_field button:hover::after,
.card_field a:hover::after {
  top: 0;
}
.card_field.hint {
  position: absolute;
  top: 5%;
  right: 3%;
  width: max-content;
}
.card_field.back {
  position: absolute;
  top: 5%;
  left: 3%;
  width: max-content;
}
.card_field.hint .source{
  padding: 10px 35px;
  position: relative;
  overflow: hidden;
}
.card_field.hint .source::before {
  content: "Check Inspect";
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3F72AF;
  top: 100%;
  left: 0;
  z-index: 3;
  transition: var(--main-transition);
}
.card_field.hint .source:focus::before {
  top: 0;
}
.error {
  background-color: #f8d7da;
  color: red;
  text-align: center;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
}
.right {
  background-color: green;
  color: greenyellow;
  text-align: center;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
}