/* End Landing */
/* Start Course Content */
.course-lab1 .row {
  display: flex !important;
  justify-content: space-between !important;
  align-items: flex-start !important;
  flex-direction: column !important;
  margin-bottom: 70px !important;
}

.course-lab1 .course-section {
  background-color: inherit !important;
  width: 100% !important;
  display: flex !important;
  align-items: center !important;
}

.course-lab1 .course-section .arrow {
  background-color: inherit !important;
  float: right !important;
  display: flex !important;
  align-items: center !important;
  justify-content: flex-end !important;
}

.faq-section-lab1 {
  margin-top: 75px !important;
  display: block !important;
  width: 100% !important;
}

@media (max-width: 991px) {
  .faq-section-lab1 .section-text-lab1 {
    margin-left: 0 !important;
  }

  .faq-section-lab1 .image {
    display: none !important;
  }
}

.faq-item-lab1 {
  margin-bottom: 30px !important;
}

.faq-section-lab1 .section-text-lab1 .faq-header-lab1 {
  border-radius: 5px 5px 0 0 !important;
  color: white !important;
  background-color: #212c42 !important;
  font-size: 18px !important;
  overflow: hidden !important;
  cursor: pointer !important;
  line-height: 20px !important;
  padding: 10px 25px !important;
  font-weight: lighter !important;
  position: relative !important;
  width: 100% !important;
  margin-top: 20px !important;
}

@media (max-width: 991px) {
  .faq-section-lab1 .section-text-lab1 .faq-header-lab1 {
    font-size: 16px !important;
  }
}

.faq-section-lab1 .section-text-lab1 .faq-header-lab1 span {
  color: red !important;
  margin-right: 40px !important;
  position: relative !important;
}

.faq-section-lab1 .section-text-lab1 .faq-header-lab1 span::after {
  content: "" !important;
  width: 10px !important;
  height: 10px !important;
  background-color: transparent !important;
  border: 1px solid #777 !important;
  border-radius: 50% !important;
  position: absolute !important;
  right: -45% !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}

.faq-section-lab1 .section-text-lab1 .faq-body {
  font-size: 18px !important;
  padding: 15px 25px !important;
  line-height: 1.9 !important;
  border-left: 4px solid red !important;
  box-shadow: 1px 2px rgb(0, 0, 0, 0.1) !important;
  border-radius: 0 0 5px 5px !important;
  background-color: white !important;
  color: rgb(21, 28, 43) !important;
}

@media (max-width: 991px) {
  .faq-section-lab1 .section-text-lab1 .faq-body {
    font-size: 14px !important;
  }
}

.faq-section-lab1 .section-text-lab1 .faq-body img {
  width: 25% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  display: inherit !important;
  margin-bottom: 30px !important;
}

.faq-section-lab1 .section-text-lab1 .faq-body ul li {
  list-style: "- " !important;
  margin-bottom: 10px !important;
}
.faq-section-lab1 .section-text-lab1 .faq-body ol li {
  list-style: decimal !important;
  margin-bottom: 10px !important;
  font-size: 18px !important;
}
.faq-section-lab1 .section-text-lab1 .faq-body ul li a {
  color: #ff4747 !important;
  text-decoration: underline !important;
}

.faq-section-lab1 .section-text-lab1 .faq-body ul li span {
  color: blue !important;
}

.faq-section-lab1 .section-text-lab1 .faq-body li h2 {
  color: #ff4747 !important;
}

.faq-section-lab1 .section-text-lab1 .faq-body ul pre {
  padding: 25px 20px !important;
  margin: 15px 0 !important;
  border-radius: 0 !important;
  border: none !important;
  background-color: #272822 !important;
  text-align: left !important;
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
}

.faq-section-lab1 .section-text-lab1 .faq-body ul pre code {
  display: flex !important;
  align-items: start !important;
  flex-direction: column !important;
}

.faq-section-lab1 .section-text-lab1 .faq-body ul pre span {
  color: green !important;
  display: inline !important;
  white-space: normal !important;
}

.faq-section-lab1 .section-text-lab1 .faq-body form {
  margin-top: 30px !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  flex-direction: row !important;
}

.faq-section-lab1 .section-text-lab1 .faq-body form input {
  flex: 3 1 0% !important;
  padding: 7px 12px !important;
  width: 100% !important;
  height: auto !important;
  font-size: 16px !important;
  color: rgb(28, 37, 56) !important;
  border-radius: 5px !important;
  background-color: white !important;
  outline: none !important;
  border: 0.1rem solid rgb(212, 216, 223) !important;
  margin-right: 20px !important;
}

.faq-section-lab1 .section-text-lab1 .faq-body form button {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex: 1 1 0% !important;
  cursor: pointer !important;
  gap: 6px !important;
  height: 36px !important;
  min-width: 300px !important;
  border-radius: 5px !important;
  max-width: 100% !important;
  font-size: 16px !important;
  padding: 7px 16px !important;
  text-decoration: none !important;
  pointer-events: initial !important;
  border-width: 1px !important;
  border-style: solid !important;
  background-color: transparent !important;
  color: rgb(21, 28, 43) !important;
  border-color: rgb(163, 234, 42) !important;
  transition: 0.2s ease-in-out !important;
}
.faq-section-lab1
  .section-text-lab1
  .faq-body
  form
  button:hover:not(:disabled) {
  background-color: rgb(163, 234, 42) !important;
}
.go-to-section {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100% !important;
}

.go-to {
  margin-top: 50px !important;
  border-radius: 5px !important;
  max-width: 100% !important;
  font-size: 16px !important;
  padding: 7px 16px !important;
  background-color: transparent !important;
  color: rgb(21, 28, 43) !important;
  border: 1px solid rgb(163, 234, 42) !important;
  transition: var(--main-transition) !important;
}
.go-to:hover {
  background-color: rgb(163, 234, 42) !important;
}
/* End Course Content */
