:root {
  --main-color: #212c42;
  --sec-main-color: #a3ea2a;
  --alt-color: #151c2b;
  --font-color: rgba(255, 255, 255, 0.5);
  --font-color-hover: rgba(255, 255, 255, 0.75);
  --main-transition: 0.5s;
}


.container-Show_prices {
  margin-left: auto;
  margin-right: auto;
}


/* Extra small */
@media (min-width: 0px) {
  .container-Show_prices {
    max-width: 100%;
  }
}


/* small */
@media (min-width: 576px) {
  .container-Show_prices {
    max-width: 540px;
  }
}


/*  Medium */
@media (min-width: 768px) {
  .container-Show_prices {
    max-width: 750px;
  }
}

/* Large */
@media (min-width: 991px) {
  .container-Show_prices {
    max-width: 970px;
  }
}

/* X-Large */
@media (min-width: 1200px) {
  .container-Show_prices {
    max-width: 1170px;
  }
}

/* Start Course  */
.course-Show_prices {
  padding: 70px 0;
}

.course-Show_prices .container-Show_prices {
  display: flex;
  flex-direction: column;
}

.course-Show_prices .row-practice {
  display: grid;
  grid-template-columns: .25fr .25fr .25fr .25fr;
  grid-template-rows: auto auto;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
  gap: 20px;
}
@media (max-width: 992px) {
  .course-Show_prices .row-practice {
    grid-template-columns: .5fr .5fr;
  }
}
.course-Show_prices .row-practice .card-Show_prices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: var(--main-transition);
}

.course-Show_prices .row-practice .card-Show_prices img {
  width: 100%;
  border-radius: 10px;
}

.course-Show_prices .row-practice .card-Show_prices:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.02);
}

.course-Show_prices .row-practice .card-Show_prices .card-text-Show_prices {
  padding: 20px 10px;
}

.course-Show_prices .row-practice .card-Show_prices .card-text-Show_prices p {
  font-size: 16px;
  font-weight: lighter;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* End Course  */