/* Start Topbar */
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: white;
  box-shadow: 0 0 4px 0 rgb(0, 0, 0, 0.2);
  z-index: 2;
  padding: 0 20px;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-menu {
  display: flex;
  align-items: center;
  gap: 90px;
}
.top-menu .fabars-size {
  font-size: 1.2rem;
  cursor: pointer;
}
.top-menu .fabars-size:hover {
  color: #038edc;
}
.top-menu .Home-link {
  font-size: 20px;
  font-weight: 600;
  color: #038edc;
}
/* End Topbar */

/* Start Sidebar */
.sidebar {
  position: fixed;
  top: 90px;
  left: 0;
  background-color: white;
  z-index: 3;
  height: 100vh;
  box-shadow: 0 0 0 1px rgb(0, 0, 0, 0.1);
  width: 220px;
  padding: 20px 0;
}

.text {
  font-size: 18px;
}

.navlink {
  display: flex;
  align-items: center;
  margin: 0 10px;
  padding: 10px 12px;
  gap: 12px;
  transition: background-color 0.3s, color 0.3s;
  background-color: #f2f3f0;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.side-bar-link {
  color: #495857;
  font-size: 1rem;
  transition: color 0.3s;
}

.side-bar-link:hover {
  color: black;
}

.sidebar .active:hover {
  background-color: #f2f3f0;
  color: #038edc;
}

a {
  text-decoration: none !important;
}
/* End Sidebar */
