/* Reset Settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}
/* --Form Style Register  */
.container {
  margin: 0 auto;
}
.hh-100 {
  height: 100vh;
}
.rows {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rows .col-12 {
  width: 100%;
}
.rows .col-6 {
  width: 50%;
}
