/* --Form Style Register  */
.container {
  margin: 0 auto;
}
.hh-100 {
  height: 100vh;
}
.rows {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rows .col-12 {
  width: 100%;
}
.rows .col-6 {
  width: 50%;
}
