/* Start Header */
header {
  width: 100%;
  position: fixed;
  padding: 0.2rem 2rem;
  z-index: 3;
  height: 70px;
  transition: all 0.3s ease;
  background: var(--primary-bg);
}

header .navbar {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .links {
  display: flex;
  gap: 12px;
  padding-right: 160px;
  margin-left: 120px;
}

.navbar .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .logo h2 {
  font-size: 16px;
  font-weight: 600;
  padding-top: 15px;
  padding-left: 15px;
  color: white;
}
header .log_reg {
  position: absolute;
  right: 0;
}
header .log_reg .login {
  color: var(--primary-bg);
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 20px;
  min-width: 100px;
  background: var(--primary-text);
  border-radius: 7px;
  border: 1px solid var(--secondary-text);
  letter-spacing: 1px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px var(--primary-bg);
}

header .log_reg .login:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 20px var(--black-alpha-80);
}
header .icon {
  color: var(--primary-text);
}
.navbar .toggle_btn {
  color: var(--secondary-text);
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.dropdown_menu {
  display: none;
}

/* Responsive Design */
@media (max-width: 991px) {
  .navbar .links,
  .navbar .log_reg {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    background: var(--glass-effect);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.3s ease;
  }

  .dropdown_menu.open {
    display: block;
    height: 550px;
  }

  .dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dropdown_menu .login {
    width: 100%;
    justify-content: center;
    display: flex;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 20px;
    min-width: 100px;
    background: var(--primary-gradient);
    border-radius: 7px;
    border: 2px solid #fff;
    letter-spacing: 1px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header .log_reg .login {
    margin: 30px;
  }
}

@media (max-width: 991px) {
  header .log_reg .login {
    margin: 30px;
    margin-left: 15px;
    margin-top: 15px;
  }
}

/* End Header */
/* Link Style */
.navbar .links .links-style {
  color: var(--primary-text);
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease;
  padding: 5px 0;
  display: inline-block;
  overflow: hidden;
}
.navbar .links .links-style::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--glass-effect);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}
.navbar .links .links-style:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
.navbar .links .links-style:hover {
  color: white;
  letter-spacing: 0.5px;
}
.navbar .links .links-style::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: rgba(59, 68, 75, 0.05);
  transition: all 0.4s ease;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
}

.navbar .links .links-style:hover::after {
  transform: translate(-50%, -50%) scale(1);
}
/*  *------*/
.navbar .row-home .profile_links {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.navbar .profile_links .user-name {
  color: var(--whiteColor);
  position: absolute;
  top: 18px;
  right: 6rem;
}
.navbar .profile-section {
  position: absolute;
  top: 3px;
  right: 12px;
}

.navbar .profile {
  border: 2px solid var(--text-color) !important;
  width: 56px;
  background: transparent;
  height: 56px;
  padding: 0;
  border-radius: 50%;
  margin-left: 25px;
}

.navbar .profile_links .profile-section .profile_list {
  position: absolute;
  background-color: var(--primary-bg);
  width: 200px;
  padding: 10px;
  right: 0;
  display: none;
}

.navbar .profile_links .profile-section .profile_list ul:not(:last-child) {
  border-bottom: 1px solid var(--primary-text);
}

.navbar .profile_links .profile-section .profile_list ul li a {
  padding: 10px 0;
  color: var(--secondary-text);
  width: 100%;
  display: block;
  text-align: start;
  font-size: 14px;
}

.navbar .profile_links .profile-section .profile_list ul li a i {
  margin-right: 7px;
}

.navbar .profile:hover {
  border: 2px solid var(--main-color) !important;
}

.navbar .profile img {
  background-color: var(--secondary-bg);
  width: 100%;
  border-radius: 50%;
}
