/* Start Header */
header {
  width: 100%;
  position: fixed;
  padding: 0.7rem 2rem;
  z-index: 3;
  height: 85px;
  transition: all 0.3s ease;
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

header .navbar {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .links {
  display: flex;
  gap: 12px;
}

.navbar .links .text {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
  overflow: hidden;
}

.navbar .links .text::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.navbar .links .text:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

header .links .text:hover {
  color: #f0e68c;
}

.navbar .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .logo h2 {
  font-size: 16px;
  font-weight: 600;
  padding-top: 15px;
  padding-left: 15px;
  color: #fff;
}

header .log_reg .login {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 20px;
  min-width: 100px;
  background: var(--main-gradient);
  border-radius: 7px;
  border: 1px solid #fff;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

header .log_reg .login:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.navbar .toggle_btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.dropdown_menu {
  display: none;
}

/* Responsive Design */
@media (max-width: 991px) {
  .navbar .links,
  .navbar .log_reg {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.3s ease;
  }

  .dropdown_menu.open {
    display: block;
    height: 550px;
  }

  .dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dropdown_menu .login {
    width: 100%;
    justify-content: center;
    display: flex;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 20px;
    min-width: 100px;
    background: var(--main-gradient);
    border-radius: 7px;
    border: 1px solid #fff;
    letter-spacing: 1px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header .log_reg .login {
    margin: 30px;
  }
}

@media (max-width: 991px) {
  header .log_reg .login {
    margin: 30px;
    margin-left: 15px;
    margin-top: 15px;
  }
}

/* End Header */

/* overlay css */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

@media (max-width: 991px) {
  .overlay.visible {
    display: block;
  }
}

/* End Header */
