.idor-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  margin-top: 60px;
}

.idor-container-wrapper {
  padding: 20px;
}

.idor-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.idor-col-md-3 {
  flex: 1;
  max-width: 25%;
}

.idor-col-md-6 {
  flex: 2;
  max-width: 50%;
}

.idor-title {
  text-align: center;
  color: #212529;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.idor-middle-title {
  color: #495057;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.idor-card {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 20px;
  margin-bottom: 20px;
}

.idor-card-header {
  font-weight: bold;
  font-size: 1.125rem;
  color: #007bff;
}

.idor-btn {
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
}

.idor-btn-primary {
  background-color: #007bff;
  border: none;
  color: white;
}

.idor-btn-primary:hover {
  background-color: #0056b3;
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
}

.idor-d-grid {
  display: grid;
  gap: 15px;
}

.idor-iframe {
  width: 100%;
  height: 500px;
  border: none;
  margin-top: 20px;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
