.course-card {
    position: relative;
    width: 100%;
    height: 350px;
    background-color: white;
    border-radius: 5px;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 0 30px;
    transition: var(--main-transition);
}

.course-card:hover {
    transform: scale(1.05);

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 991px) {
    .course-card {
        width: 100%;
        margin-bottom: 30px;
    }
}

.course-card img {
    width: 100%;
    scale: 0.8;
    object-fit: cover;
    margin-bottom: 10px;
}

.course-card .course-text {
    padding: 20px;
    position: absolute;
    background-color: white;
    left: 0;
    transition: var(--main-transition);
    margin-bottom: 30px;
    transform: translateY(-10%);
}

@media (min-width: 992px) {
    .course-card .course-text {
        transform: translateY(-15%);
    }
}

@media (max-width: 991px) {
    .course-card .course-text {
        transform: translateY(-10%);
    }
}

@media (max-width: 767px) {
    .course-card .course-text {
        transform: translateY(-60%);
    }
}

.course-card:hover .course-text {
    transform: translateY(-60%);
}

.course-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.course-card p {
    font-size: 16px;
    font-weight: lighter;
    color: #777;
    margin-bottom: 20px;
}

.course-card ul li {
    list-style-type: disc;
    margin-left: 20px;
    font-size: 14px;
    color: #555;
    font-weight: lighter;
}

.course-card .easy {
    position: absolute;
    bottom: 0;
    left: 2%;
    color: green !important;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    background: white;
    padding: 5px;
    font-size: 16px;
}

.course-card .easy i {
    margin-right: 5px;
}

.course-card.easy p {
    margin-bottom: 0;
    color: green;
    font-size: 16px;
}